In [ ]:
'2018-05-28', #, 'Tuolumne', 
'2020-05-21', #, 'Tuolumne',  
'2021-04-29', #, 'Tuolumne',
'2022-05-18', #, 'Tuolumne', 
'2024-05-01', #, 'Tuolumne',  
'2018-06-02', #, 'San Joaquin',
'2021-05-03', #, 'Kings', 
'2022-04-30', #, 'Kings',  
'2023-04-14', #, 'Kings',
'2024-05-21', #, 'Kings',
'2014-05-12', #, 'Merced', 
'2020-06-04', #, 'Merced', 
'2022-05-13', #, 'Merced', 
'2023-06-08', #, 'Merced', 
'2024-05-23', #, 'Merced',
'2019-04-21', #, 'Kaweah', 
'2021-05-04', #, 'Kaweah', 
'2022-05-17', #, 'Kaweah', 
'2023-06-02', #, 'Kaweah', 
'2024-05-20', #, 'Kaweah',   
'2018-06-01', #, 'Lakes Basin',  
'2022-05-15', #, 'Yuba',  
'2024-05-27', #, 'Yuba', 
'2022-04-29', #, 'Feather', 
'2024-05-13', #, 'Feather',
'2016-05-09', #, 'Cherry_Eleanor', 
'2022-05-13', #, 'Carson', 
'2022-05-14', #, 'Truckee', 
'2024-05-17', #, 'Truckee',
'2024-04-30', #, 'American', 
'2024-05-08', #, 'Kern',
'2023-05-15', #, 'McCloud',
'2015-06-02', #, 'Conejos', 
'2021-05-16', #, 'Conejos',
'2022-05-10', #, 'Conejos', 
'2019-06-24', #, 'Blue', 
'2021-05-24', #, 'Blue', 
'2022-05-26', #, 'Blue', 
'2024-06-05', #, 'Blue',
'2023-05-13', #, 'Pit',
'2021-05-14', #, 'Dolores', 
'2022-05-10', #, 'Dolores', 
'2023-05-25', #, 'Dolores', 
'2024-04-30', #, 'Dolores',
'2018-05-24', #, 'East', 
'2019-06-10', #, 'East',
'2019-06-09', #, 'Taylor', 
'2023-05-23', #, 'Taylor', 
'2024-05-20', #, 'Taylor',
'2023-05-28', #, 'RoaringFork', 
'2024-05-22', #, 'RoaringFork',
'2023-05-27', #, 'WindyGap', 
'2024-05-30', #, 'WindyGap', 
'2023-05-26', #, 'SouthPlatte',
'2024-06-05', #, 'SouthPlatte',
'2022-05-25', #, 'Gunnison',
'2015-06-02', #, 'RioGrande', 
'2024-05-27', #, 'Yampa',
'2021-04-19', #, 'Animas', 
'2021-05-15', #, 'Animas',
'2016-03-29', #, 'Olympic',

In [5]:
import pandas as pd
import os
HOME = os.getcwd()

pdf = pd.read_parquet(f"/uufs/chpc.utah.edu/common/home/civil-group1/Johnson/SWEMLv2.0/Predictions/Sturm_Seasonality_PrecipVIIRSGeoObsDFs/PDF_UnseenSeason.parquet")
pdf

,RMSE,KGE,PBias,watershed,Date,Resolution,n_estimators,max_depth,eta,alldata,standard_training
0,6.18,0.76,2.01,Lakes Basin,2015-04-28,750M_Resolution,3500,8,0.1,False,False

In [4]:
HOME

'/uufs/chpc.utah.edu/common/home/civil-group1/Johnson/SWEMLv2.0/Modeling'